body { 

    padding-left: 10px;
}
.footer {
    border-top: 10px solid #ccc;
    padding-top: 10px;
    text-align: center;
}

.navbar {
    background-color: #1d643b;
    background: #1d643b;
}

.logo
{
    border-radius : 30px;
}

h2
{
    background-color: #2fa360;
    border-radius : 5px;

}

article
{
    padding: 5px;
    margin: 5px;
    border-radius : 5px;
    border-style: solid;
    border-color: #1b1e21;
    border-width: 2px;
}